body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.recipe-container {
  background-image: url("https://c1.staticflickr.com/8/7267/7518206320_b8240e129f_b.jpg");
}