<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content="Favorite Recipes"/>
    <meta name="author" content="Nathan Merris"/>

    <!-- Bootstrap core CSS -->
    <link href="bootstrap.min.css" rel="stylesheet"/>

    <!-- Custom styles for this template -->
    <link href="starter-template.css" rel="stylesheet"/>

    <title>Favorite Recipes</title>
</head>

<body>



<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">

        <ul class="navbar-nav mr-auto">

            <!--could put a home link below-->
            <!--<li class="nav-item active">-->
                <!--<a class="nav-link" href="#"> <span class="sr-only">(current)</span></a>-->
            <!--</li>-->

            <li class="nav-item active">
                <a class="nav-link" href="crabcakes">Crab Cakes <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" href="gingerale">Ginger Ale <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" href="cornbread">Cornbread <span class="sr-only">(current)</span></a>
            </li>
        </ul>

    </div>
</nav>

<div class="container">
<h1>Welcome to my favorite recipes!</h1>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>

</body>
</html>
